<style>
        body{
            background-color: blanchedalmond;
            text-align: center;
        }
        /* seletor - id*/
        #imagem{
            border-radius: 100px;
        }
        /* seletor classe */
        .quadrado{
            border: 1px solid rgb(68, 15, 15) ;
            border-radius: 100px;
            background-color: whitesmoke;
            width: 320px;
            height: 50px;
        }

    </style>