body {
    background-color: blanchedalmond;
    text-align: center;
}

/* seletor - id*/
#imagem {
    border-radius: 0px;
}

/* seletor classe */
.quadrado {
    border: 1px solid rgb(68, 15, 15);
    border-radius: 20px;
    background-color: beige;
    width: 420px;
    height: 500px;
    margin: 0 auto
}

.titulo {
    color: black;
    font-size: 40px;
}

.faixa {
    width: 100vw;
    height: 110px;
    background-color: burlywood;
}

.botao{
    text-decoration: none; 
    color: brown; 
    background-color: brown;
     color:white; 
     border-radius: 20px; 
     padding: 2px;
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
}