:root{
    --cinza : #aaa;
}


.interacoes{
    margin-top: 2rem;
}

.lista{
    padding: 0.75rem;
    background-color: grey;
    color: black;
    font-weight:500;
}

.lista li:nth-child(1){
    background-color: var(--cinza);
    font-size: 18pt;
    color: white;
}

.botao{
    background-color: brown;
    border: none;
    padding: 0.75rem;
    border-radius: 999px;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    margin-right: 30px;
}

.botao:hover{
    color: tomato;
    box-shadow: 0 8px 8px rgba(0,0,0,0.35);
    transform: scaleY(-2px);
}

.texto{
    width: 80%;
    margin-left: 40px;
}

.texto::first-letter{
    font-size: 2,5rem;
    color: tomato;
    font-weight: bold;

}

.texto::first-line{
    text-transform: uppercase;
}

::selection{
    background-color: chartreuse;
}




