/*seletor8*/
div{
    border: 2px solid black;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 200px;
    width: 200px;
    padding: 20px;
    position: fixed; 
}

.box1{
    background-color: red;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.box2{
    background-color: orangered;
    left: 50px;
    top: 50px;
    z-index: 1;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.box3{
    background-color: orange;
    top: 100px;
    left: 100px;
    z-index: 2;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}