body{
    background-color: rgba(0, 64, 255, 0.679);
}

.cabecalho{
    position: fixed;
    top: 0;
    width: 100%;
    border: solid, 2px;
    border-radius: 20px;
    display: flex;
    background-color: yellow;
    font-family: "Zalando Sans Expanded", sans-serif;
    text-align: center;
    justify-content: center;

}


.lista{
    list-style: none;
}

.list{
    display: inline;
    border: solid, 1px;
    background-color: azure;
    margin-right: 20px;
    border-radius: 20px;
}

.img{
    width: 400px;
    height: 350px;
    border: solid 1px;
    border-radius: 20px;

}

.exercicio{
    background-color: azure;
    padding: 20px;
    width: 400px;
    height: 100;
    flex: 1;
    margin: 20px;
    border: solid 1px;
    border-radius: 20px;
    border-color: black;
    font-family: "Zalando Sans Expanded", sans-serif;
    
}

.teste{
    margin-top: 200px;
    display: flex;
}

.teste1{
    margin-top: 20px;
    display: flex;
}

.faixa{

    width: 100%;
    border: solid, 2px;
    border-radius: 20px;
    display: flex;
    background-color: yellow;
    font-family: "Zalando Sans Expanded", sans-serif;
    text-align: center;
    justify-content: center;

}

.imgFixa{
    position: fixed;
    bottom: 20px;
    height: auto;
    width: 70px; 
    right: 10px;
    z-index: 1000;
}


