body{
    background-color: #EDF2D8 ;
}

/*Cabeçalho*/
.cabecalho{
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #DEE3CA;
    gap: 20px;
    border: solid, 1px;
    border-color: #506266;
    border-radius: 20px;
    box-shadow: 100px;
    padding: 10px;
    box-shadow: 0px 4px 8px grey;
}

.texto{
    text-align: center;
    font-family: Arial, sans-serif;
}

.foto{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-left: 5px; 
}

.foto:hover{
    border: solid, 2px;
    border-color: #506266;
}

.links{
    text-decoration: none;
    color: black;
    gap:20px;
    background-color: #B4B8A7;
    margin: 5px;
    margin-bottom: auto;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 3.5px;
    box-shadow: 0px 2px 4px;
}

.links:hover{
    color:  #B4B8A7;
    background-color: #506266;
}

/*Conteúdo principal*/

.titulo{
    background-color: #506266;
    color: #DEE3CA;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    border-radius: 20px;
    border-color: #EDF2D8;

}

.titulo:hover{
    color: #506266;
    background-color: #B4B8A7;
    box-shadow: 0px 4px 8px grey;
}

.informacoes{
    display: flex;
    background-color: #B2BEBF;
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    gap: 70px;
}

.img2{
    border: 0;
    border-radius: 20px;
    height: auto;
    width: 500px;
    max-width: 100%;
}

.paragrafo{
    margin-top: 70px;
    font-family: Arial, sans-serif;
    font-size: 21px;
    text-align: center;
}

.dividido{
    display: flex;
    flex: 1;
    gap: 20px;
    margin-top: 20px;
}

.titulo2{
    display: flex;
    flex:1;
    justify-content: center;
    background-color: #506266 ;
    color: #DEE3CA;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    border-radius: 20px;
    border-color: #EDF2D8;
 
}

.titulo2:hover{
    color: #506266;
    background-color: #B4B8A7;
    box-shadow: 0px 4px 8px grey;
}

.titulo3{
    display: flex;
    flex:1;
    justify-content: center;
    background-color: #506266 ;
    color: #DEE3CA;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    border-radius: 20px;
    border-color: #EDF2D8;
 
}

.titulo3:hover{
    color: #506266;
    background-color: #B4B8A7;
    box-shadow: 0px 4px 8px grey;
}

.dividido2{
    display: flex;
    flex: 1;
    gap: 20px;
    margin-top: 20px;
}

.informacoes2{
    display: flex;
    background-color: #B2BEBF;
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    gap: 70px;
}

.paragrafo2{
    margin-top: 70px;
    font-family: Arial, sans-serif;
    font-size: 21px;
    text-align: center;
}

.informacoes3{
    display: flex;
    background-color: #B2BEBF;
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    gap: 70px;
}

.paragrafo3{
    margin-top: 70px;
    font-family: Arial, sans-serif;
    font-size: 21px;
    text-align: center;
}



